<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ximao.infinitelyflu_mobile">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 外部存储的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外部存储的读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".IFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfinitelyFlumobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!-- Activity -->
        <activity
            android:name=".activity.IFTemplatePreviewActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.ximao.infinitelyflu_mobile"
                    android:path="/IFTemplatePreviewActivity"
                    android:scheme="infinitelyflu" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FetchTemplateActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.ximao.infinitelyflu_mobile"
                    android:path="/WebViewActivity"
                    android:scheme="infinitelyflu" />
            </intent-filter>
        </activity>


        <!-- Service -->
        <service
            android:name=".utils.apm.FloatViewService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>